---
import TimeConversion from '../components/Time/TimeConversion.svelte';
import TimeDifference from '../components/Time/TimeDifference.svelte';
import ResponseTime from '../components/Time/ResponseTime.svelte';
import KathundTime from '../components/Time/KathundTime.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Time">
  <div class="flex flex-col gap-4">
    <div>
      <p class="text-2xl">
        I am <span class="text-ctp-red text-bold">UTC+8</span> and it is currently <KathundTime client:load />
      </p>
      <TimeDifference client:load />
      <p>Please expect responses between <ResponseTime client:load /></p>
      <p>That is <ResponseTime client:load user={true} /> in <span class="text-ctp-red">your</span> timezone</p>
    </div>
    <div>
      <p class="text-2xl">Convert a time to Kathund time</p>
      <TimeConversion client:load />
    </div>
  </div>
</Layout>
