---
import Header from '../components/Header.svelte';
import Footer from '../components/Footer.svelte';
import '../styles/global.css';

interface Props {
  title: string;
  footer?: boolean;
}
let { title, footer } = Astro.props;
if (footer === undefined) footer = true;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="robots" content="noindex" />
    <title>{`${title} | kathund.dev`}</title>
    <meta property="og:url" content="https://kathund.dev" />
    <meta
      property="og:description"
      content={`${new Date().getUTCFullYear() - 2007} year old dev living in Australia!`}
    />
    <meta property="og:site_name" content="kathund.dev" />
    <meta property="og:title" content={`${title} | kathund.dev`} />
    <meta name="theme-color" content="#f5c2e7" />
    <meta property="og:image" content="/kathund.png" />
    <meta property="og:image:alt" content="kathund Logo" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="1000" />
    <meta name="description" content={`${new Date().getUTCFullYear() - 2007} year old dev living in Australia!`} />
  </head>

  <body class="mocha bg-ctp-mantle text-ctp-text flex min-h-screen items-center justify-center">
    <main class="my-32 max-w-8/10 min-w-4/10 font-mono">
      <Header client:only />

      <slot />

      {footer && <Footer client:only />}
    </main>
  </body>
</html>
